<div class="main-container">
    <div class="offer-container">

        <div class="loader" *ngIf="loading_list">
            <div class="loding-logo">
                <mat-spinner></mat-spinner>
            </div>
        </div>
        <div class="row">
            <div class="col s12 padding0">
                <div class="sprate-box" style="margin-bottom: 40px;">
                    <div class="full-offer">
                        <div class="top-heading no-justify">
                            <a class="back-btn" (click)="goBack()"><i class="material-icons">arrow_back</i></a>
                            <h2>DISTRIBUTOR DETAIL</h2>
                        </div>

                        <div class="detail-info">

                            <div class="basic-details">
                                <div class="profile-info">
                                    <ul>

                                        <li>
                                            <figure>
                                                <div class="right-cont">
                                                    <p>Company Name</p>
                                                    <span>{{getData.company_name | titlecase }}</span>
                                                </div>
                                            </figure>
                                        </li>

                                        <li>
                                            <figure>
                                                <!-- <div class="left-img border">
                                                    <img [src]="getData.profile"
                                                        (click)="openDialog( getData.id,'test5')">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>Contact Person</p>
                                                    <span>{{getData.parent_counter_contact_person | titlecase }}</span>
                                                </div>
                                            </figure>
                                        </li>

                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/contact.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>Mobile No.</p>
                                                    <span>{{getData.mobile_no}}</span>
                                                </div>
                                            </figure>
                                        </li>

                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/email.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>Email</p>
                                                    <span>{{getData.email}}</span>
                                                </div>
                                            </figure>
                                        </li>


                                        <!-- <li>
                                          <figure>
                                              <div class="left-img">
                                                  <img src="assets/calendar.svg">
                                              </div>
                                              <div class="right-cont">
                                                  <p>Date of Birth</p>
                                                  <span>{{getData.dob  | date : 'dd MMM yyyy'}}</span>
                                              </div>
                                          </figure>
                                          
                                      </li> -->

                                    </ul>

                                    <ul>
                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/contact.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>State</p>
                                                    <span>{{getData.state}}</span>
                                                </div>
                                            </figure>
                                        </li>

                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/contact.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>District</p>
                                                    <span>{{getData.district | titlecase }}</span>
                                                </div>
                                            </figure>
                                        </li>

                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/contact.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>City</p>
                                                    <span>{{getData.city | titlecase }}</span>
                                                </div>
                                            </figure>
                                        </li>

                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/contact.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>Pincode</p>
                                                    <span>{{getData.pincode}}</span>
                                                </div>
                                            </figure>
                                        </li>

                                    </ul>

                                    <ul class="mt10">
                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/book.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>Address</p>
                                                    <span>{{getData.address | titlecase }} {{getData.city | titlecase }}
                                                        {{getData.district | titlecase }} {{getData.state | titlecase }}
                                                        {{getData.pincode}}</span>

                                                </div>
                                            </figure>
                                        </li>
                                    </ul>

                                    <!-- <ul class="mt10">
                                      <li>
                                          <figure>
                                              <div class="left-img">
                                                  <img src="assets/qr-code.svg">
                                              </div>
                                              <div class="right-cont">
                                                  <p>Referral Code</p>
                                                  <span>{{!getData.referral_code ? 'N/A' : getData.referral_code | uppercase}}</span>
                                              </div>
                                          </figure>
                                      </li>
                                      <li *ngIf="getData.reference_by">
                                          <figure>
                                              <div class="left-img">
                                                  <img src="assets/man.svg">
                                              </div>
                                              <div class="right-cont">
                                                  <p>Reference By</p>
                                                  <span>{{getData.reference_by}} / {{getData.reference_mobile_no}}</span>
                                              </div>
                                          </figure>
                                      </li>
                                  </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col s6 padding0 pl15">
              <div class="sprate-box gift-offer">
                  <div class="full-offer">
                      <div class="top-heading">
                          <h2>DOCUMENT DETAIL</h2>
                      </div>
                      
                      <div class="sprate-box defult">
                          <div class="detail-info defult-css">
                              <div class="img-box">
                                  <img src="{{getData.document_image ? getData.document_image : 'assets/default-image.png'}}" (click)="getData.document_image!='' && openDialog( getData.id,'test6')">
                              </div>
                              <div class="basic-details">
                                  <div class="profile-info">
                                      <ul>
                                          <li>
                                              <p>Document Type</p>
                                              <span>{{getData.document_type!='' ? getData.document_type : 'N/A'}}</span>
                                          </li>
                                          
                                          <li>
                                              <p>Document Number</p>
                                              <span>{{getData.document_no ? getData.document_no : 'N/A'}}</span>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div> -->


            <div class="add-button">
                <button mat-button (click)="edit()"><i class="material-icons">edit</i></button>
            </div>
        </div>


        <div class="row">
            <div class="col s12 padding0">
                <div class="sprate-box">
                    <div class="full-offer">
                        <div class="top-heading no-justify">
                            <a class="back-btn" (click)="goBack()"><i class="material-icons">arrow_back</i></a>
                            <h2>RETAILER DETAIL</h2>
                        </div>


                        <div class="css-table">
                            <div class="sticky-header">
                                <div class="header">
                                    <table>
                                        <tr>
                                            <th class="w50 border-right text-center">S.No.</th>
                                            <!-- <th class="w180">Date / Created by</th> -->
                                            <!-- <th class="w200" >Product Name</th>
                    <th class="w120 text-center" >Product Size</th> -->
                                            <th class="w120">Company Name</th>
                                            <th class="w130">Name</th>

                                            <th class="w150">Mobile Number</th>
                                            <th class="w100">State</th>
                                            <th class="w100">District</th>
                                        </tr>
                                    </table>
                                </div>
                                <div class="header border-bott">
                                    <table>
                                        <tr>
                                            <th class="w50 border-right ">&nbsp;</th>
                                            <!-- <th class="w180">
                      <div class="vaild-into">
                        <div class="date-form wp-21 mr10">
                          <i *ngIf="filter.date" class="material-icons" (click)="filter.date = ''; getKarigarDetails('') ">clear</i>
                          <mat-form-field>
                            <input matInput placeholder=" Date" [(ngModel)]="filter.date" (click)="openDatePicker(picker1)"  name="date" matInput (dateChange)="getKarigarDetails('')" [matDatepicker]="picker1" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    </th>   -->
                                            <!-- <th class="w200">
                      <div class="form-area wp-21">
                        <div class="search-form">
                          <input type="text" placeholder="Search" [(ngModel)]="filter.productsearch" (keyup.enter)="getKarigarDetails('')">
                          <i class="material-icons">search</i>
                        </div>
                      </div>
                    </th>
                    <th class="w120"></th> -->
                                            <th class="w120">
                                                <div class="search-form">
                                                    <input type="text" placeholder="Search ..."
                                                        [(ngModel)]="filter.product_point_group"
                                                        (keyup.enter)="getKarigarDetails()">
                                                    <i class="material-icons">search</i>
                                                </div>
                                            </th>
                                            <th class="w130">
                                                <div class="search-form">
                                                    <input type="text" placeholder="Search ..."
                                                        [(ngModel)]="filter.product_point_group"
                                                        (keyup.enter)="getKarigarDetails()">
                                                    <i class="material-icons">search</i>
                                                </div>
                                            </th>
                                            <th class="w150">
                                                <div class="search-form">
                                                    <input type="text" placeholder="Search ..."
                                                        [(ngModel)]="filter.product_point_group"
                                                        (keyup.enter)="getKarigarDetails()">
                                                    <i class="material-icons">search</i>
                                                </div>
                                            </th>
                                            <th class="w100">
                                                <div class="search-form">
                                                    <input type="text" placeholder="Search ..."
                                                        [(ngModel)]="filter.product_point_group"
                                                        (keyup.enter)="getKarigarDetails()">
                                                    <i class="material-icons">search</i>
                                                </div>
                                            </th>
                                            <th class="w100">
                                                <div class="search-form">
                                                    <input type="text" placeholder="Search ..."
                                                        [(ngModel)]="filter.product_point_group"
                                                        (keyup.enter)="getKarigarDetails()">
                                                    <i class="material-icons">search</i>
                                                </div>
                                            </th>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="css-table" *ngIf="retailerData.length">
                            <div class="table-container">
                                <div class="table-body">
                                    <table>
                                        <tr class="arject" *ngFor="let val of retailerData; let i = index">
                                            <td class="w50 text-center">{{ i + 1 }}</td>
                                            <!-- <td class="w180">{{val.date_created  == '0000-00-00 00:00:00' ? 'N/A' : val.date_created | date: 'dd MMM yyyy'}} / {{val.created_name}}</td> -->
                                            <!-- <td class="w200">{{val.product_name}}</td>
                      <td class="w120 text-center">{{val.size}}</td> -->

                                            <td class="w120">{{val.company_name}}</td>
                                            <td class="w130">{{val.full_name}}</td>

                                            <td class="w150">{{val.mobile_no}}</td>
                                            <td class="w100">{{val.state}}</td>
                                            <td class="w100">{{val.district}}</td>

                                            <!-- <td class="w100">
                        <div class="cs-action">
                         <a class="ac-green" matTooltip="Edit Remarks" matTooltipPosition="below" 
                          (click)="openModel(val)"><i class="material-icons">edit</i></a> 
                          <a class="ac-green" matTooltip="Excel Download" matTooltipPosition="below" 
                          (click)="downloadCoupon(val.id)"><i class="material-icons">cloud_download</i></a>
                          <a class="ac-red" matTooltip="Delete" matTooltipPosition="below" 
                          (click)="deleteCoupon(val.id)"><i class="material-icons">delete_sweep</i></a>
                        </div>
                      </td> -->
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>


    </div>
</div>